<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" xmlns="http://www.phonegap.com/ns/plugins/1.0" id="cordova-media-scanner" version="1.0.0">

  <name>mediaScanner</name>

  <description>Cordova plugin to tell android to scan media</description>

  <license>MIT</license>

  <js-module name="mediaScanner" src="www/mediaScanner.js">
    <clobbers target="cordova.mediaScanner"/>
  </js-module>

  <!-- android -->
  <platform name="android">
    <source-file src="src/android/MediaScanner.java" target-dir="src/it/uhray/mediaScanner"/>

    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="MediaScanner">
        <param name="android-package" value="it.uhray.mediaScanner.MediaScanner"/>
      </feature>
    </config-file>
  </platform>
</plugin>
